

body {
    padding-top: 50px;
    padding-bottom: 20px;

}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.box {
   background-color: darkslategrey;
   border:none;
}

.jumbotron {
    font-size:12px;
    height:110px;
    padding-top:5px;
    margin-bottom:1px;
   
}
.table{
    font-size:11px;
}

.alert-customer {
width:50%;
margin:auto;
text-align:center;
border: solid 1px #808080;
-moz-border-radius:7px;
-webkit-border-radius:7px;
 border-radius:7px;

}

.boxModal {
  display: flex;
  align-items: center;
  justify-content: center;
}