@{
    ViewBag.Title = "About";
}
<h2>Assesoria Imobiliária</h2>
<hr>
<img src="~/Content/img/assesoria.jpg"  class="img-rounded;" style="height:200px; width:100%;" />
<div style="height:2px; background-color:lime; padding-top:10px;"></div>

<h4>INTERMEDIAÇÕES NA COMPRA E VENDA</h4>
<ul>
    <li>Casas</li>
    <li>Apartamentos</li>
    <li>Condomínios</li>
    <li>Terrenos</li>
    <li>Escritórios</li>
    <li>Edifícios e prédios comerciais</li>
    <li>Áreas comerciais e industriais</li>
    <li>Lançamentos imobiliários, residenciais ou comerciais</li>
    <li>Avaliação de imóveis</li>
    <li>Consultoria jurídica</li>
</ul>
